<!DOCTYPE html>
{%load static%}

<html>
    <head>
        <title>Some title</title>
        <link rel="stylesheet" href="{% static 'style/base.css' %}">
    </head>
    <body>

                <a href = "{%url 'register'%}">
                        register
                </a>

                <a href = "{%url 'login'%}">
                    log in
                </a>

                <a href = "{%url 'logout'%}">
                    log out
                </a>
            {%for i in products%}

                <p>

                    <a href = "{%url 'product_detail_page' i.id%}">

                        {{i.name}}

                    </a>



                </p>

                <p>

                    {{i.price}}

                </p>

                <p>

                    {{i.photo}}

                </p>

                <p>
                    
                    {{i.category}}

                </p>

            {%endfor%}
    </body>
</html>