body{
    margin: 0;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque
}

.navigation-panel {
    background-color: burlywood;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.navigation-panel div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.logo {
    width: auto;
    height: 48px;
}

.linked-button {
    color: black;
    text-decoration: none;
}

.linked-button:hover {
    color: white;
    transform: scale(1.2);
    transition: .2s;
}

form input[type='text'] {
    padding: 4px;
    border: 1px solid rgb(158, 131, 96);
    border-radius: 4px;
    background-color: rgb(176, 146, 107);
    color: black;
}

form button[type='submit'] {
    padding: 4px 8px;
    border: 1px solid rgb(158, 131, 96);
    border-radius: 4px;
    background-color: rgb(176, 146, 107);
    color: black;
    cursor: pointer;
}

form button[type='submit']:hover {
    background-color: rgb(158, 131, 96);
    color: white;
    transform: scale(1.1);
    transition: .2s;
}

.sekta {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.op {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilepro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card {
    border: 1px solid rgb(158, 131, 96);
    border-radius: 8px;
    padding: 8px;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details-button {
    padding: 4px 8px;
    border: 1px solid rgb(158, 131, 96);
    border-radius: 4px;
    background-color: rgb(176, 146, 107);
    color: black;
    text-align: center;
    text-decoration: none;
}

.details-button:hover {
    background-color: rgb(158, 131, 96);
    color: white;
    transform: scale(1.1);
    transition: .2s;
}

